* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
.carouselImage {
   
    max-height: 100vh;
    width: 100%;
    object-fit: cover; 
 
  }

  .hero-section {
    position: relative;
  }
  
  .carousel-custom {
    position: relative;
  }
  
  .navbar-overlay {
    position: fixed; /* Make it fixed so it stays at the top */
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    height: 80px; /* Increase the height (default height + 30px) */
    transition: height 0.3s;
  }
  
  .carousel-caption {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .hero-section {
    position: relative;
  }
  
  .carousel-custom {
    position: relative;
  }
   .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
  
  .carousel-caption-custom {
    position: absolute;
    bottom: 20px;
    left: 80px;
    z-index: 20;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
    .featured-container{
    margin-top: 10px;
    /* border-top: 2px solid gray; */
    padding:10px;
  }
  .featured-classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Default to 4 columns */
    justify-items: center; /* Center items horizontally */
    align-items: center;
    row-gap:10px;
  }
  
  /* Media query for small screens */
  @media (max-width: 1024px) {
    .featured-classes {
      grid-template-columns: 1fr 1fr ;
       /* Change to 2 columns */
    }
  }
  
  /* Media query for extra small screens */
  @media (max-width: 576px) {
    .featured-classes {
      grid-template-columns: 1fr; 
      /* Change to 1 column */
      row-gap: 5px;
    }
  }
.featured-container .heading{

  text-align: center;
}
.featured-class-container {
  margin-bottom: 20px;
  height: 480px;
  padding: 20px;
}

.featured-card {
  width: 18rem;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
}
.featured-card:hover {
  transform: translateY(-5px); /* move up by 5px */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* increase shadow on hover */
}

.card-image {
  max-width: 100%;
  max-height: max-content;
  object-fit: cover;
}

.card-body {
 
  overflow: hidden;

}

.testimonial{
  text-align: center;
}
